/.gradle/6.5/fileChanges/last-build.bin
/.idea/vcs.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/
/.gradle/vcs-1/gc.properties
/.gradle/checksums/
/.gradle/buildOutputCleanup/
/.gradle/6.5/gc.properties
